body {
    background-color: #222;
    font-family: 'Raleway', sans-serif;
    font-size: large;
    color: gainsboro;
    margin: 0;
    margin-top: 5px;
    transition: all 1s ease;
}

* {
 box-sizing: border-box;   
}

.dark {
    background-color: gainsboro;
    color: #222;
}:root {
    --primary-color: skyblue;
    --secondary-color: dodgerblue;
    --text-color: gainsboro; 
}




.navbar {
    list-style-type: none;
    /* margin: 0 10%; */
    padding: 0;
    overflow: hidden;
    background-color: var(--primary-color);
    border-radius: 5px;
    /* transition: all 1s ease; */
    margin: 0;
}

.navbar_btn img {
    width: 1.5vh;
    height: auto;
}
  
.navbar_item {
    padding-top: 1px;
    float: left;
}

.navbar_item_right {
    float: right;
}
  
.navbar_btn{
    width: auto;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 1vw;
    text-decoration: none;
    transition: all 0.5s ease;
}
 
.navbar_item_right .icon {
    position: relative;
    display: none;
    color: black;
    align-items: center;
    border-radius: 0;
    top: 0;
    right: 0;
}

.navbar_btn:hover {
    background-color: var(--secondary-color);
    color: black;
}

@media screen and (max-width: 600px) {
    .navbar div li {display: none;}
    .navbar_item_right .icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .navbar_item_right .icon {
        position: absolute;
        top: 0;
        right: 0;
    }
    .navbar.responsive .navbar_item_right {
        display: flex;
        float: left;
        flex-direction: column;
        clear: both;
    }
    .navbar.responsive .navbar_item_right li:not(:last-child){
        position: relative;
        float: left;
        display: block;
    }

    .navbar_btn {
        text-align: left;
    }
}

.control nav {
    padding: 0;
}

.control {
    float: right;
    /* position: relative; */
    /* margin: 1%; */
    z-index: 1;
    /* top: 0; */
}

.column {
    display: flex;
    flex-direction: column;
}

.row, .row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row {
    justify-content: space-between;
    border: 1px solid var(--primary-color);
    /* background-color: aquamarine; */
    border-radius: 12px;
    padding: 5px 10px;
    margin: 10px 5px;;
}

.buttons {
    display: none;
    position: absolute;
    right: 0.5rem;
    background-color: black; 
    z-index: 1;    
    width: 10rem;
    top: 3.8rem;
    /* opacity: 0.8; */
}

@keyframes showControl {
    0% {
        opacity: 0;
        /* top: 3.8rem; */
        right: 10rem;
    }   
    100% {
        opacity: 0.8;
        /* top: 3.8rem; */
        right: 0.5rem;
    }
}

.showControl-animation {
    animation: 1s showControl alternate ;
}

.active {
    display:block;
}

#controlButton {
    /* position: relative; */
    /* margin-top: 1rem; */
    width: 3rem;
    padding: 12px;
    /* height: 2rem; */
}

.buttons button {
    padding: 10px;
    width: 1.8rem;
    height: fit-content;
    /* border-radius: 50%; */
    border: none;
    margin: 0.2rem;
}

.buttons button:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    z-index: 1;
}

#controlButton:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
}

@media screen and (max-width: 600px) {
    body {
        font-size: medium;
    }
    
    .buttons {
        left: 12.5rem;
        top: -7.5rem;
    }

    @keyframes showControl {
        0% {
            opacity: 0;
            left: 0rem;
        }
        100%{
            opacity: 1;
            left: 12.5rem;
        }
    }
    
}

.container {
    width: 100%;
    margin: 0 auto;
}

.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.event {
    max-width: 50rem;
    width: 100%;
}

.event-img img{
    margin: 0.5rem 0;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

.details {
    background-color: #333;
    padding: 2rem;
    border-radius: 12px;
}

.all-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.info {
    margin: 0.2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.details h1 {
    margin-block-start: 0.5rem;
    margin-block-end: 1rem;
}

.desc-box h1, .details h1 {
    color: var(--primary-color)
}

.info i {
    margin-right: 1.5rem;
}

.info p {
    margin-block-start: 0.4rem;
    margin-block-end: 0.4rem;
}

.info a {
    text-decoration: none;
    color: var(--primary-color);
}

.desc-box {
    margin: 0.5rem 0;
    background-color: #333;
    padding: 1rem 2rem;
    border-radius: 12px;
}

.btn{
    display: block;
    margin: 0 auto;
    width : 50%;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: transparent;
    padding: 3%;
    font-size: 2.5vh;
    cursor: pointer;
    color: var(--primary-color);
}

.desc-box a {
    text-decoration: none;
}


.btn:hover {
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}



/* .btn:hover {
    margin: 0 auto;
    color : var(--secondary-color);
    border: 2px solid gold;
    display: block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn:hover, .btn:focus, .btn:active {
    margin: 0 auto;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
} */

footer {
    color: gainsboro;
    width: auto;
    margin-top: 3%;
    border-radius: 5px;
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: all 0.5s ease;
}


footer h2, h3 {
    /* font-size: 3vh; */
    font-weight: 400;
    line-height: 3rem;
    color: var(--primary-color);
}

footer p a {
    color: var(--text-color);
    /* font-size: 16px; */
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.5s ease;
}

footer p {
    float: left;
    /* font-size: 1.8vh; */
    word-spacing: 2px;
}

footer ul {
    list-style: none;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding-inline-start: 0;
}

footer ul li {
    padding: 3%;
    margin-right: 7%;
    transition: all 0.5s ease;
}

footer ul li a {
    color: var(--text-color);
    /* font-size: 1.8vh; */
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.5s ease;
}
   

.footerCnt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

footer ul li a:hover {
    background-color: var(--secondary-color);
    color: black;
}

.copyright{
    /* background: #222; */
    width: 98%;
    padding: 20px;
    text-align: center;
}

.copyright p{
    float: left;
    /* font-size: 1.8vh; */
    word-spacing: 2px;
}

.copyright p a{
   color: var(--text-color);
   /* font-size: 1.8vh; */
   text-decoration: none;
}

.copyright p a:hover{
    color: var(--secondary-color);
}

/* footer ul li a:hover {
    cursor: pointer;
} */


.fa {
    /* padding: 20%; */
    /* font-size: ; */
    width: 4vh;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.fa-facebook {
    padding: 20%;
    background: transparent;
    color: white;
}

.fa-twitter {
    padding: 20%;
    background: transparent;
    color: white;
}

.fa-instagram {
    padding: 20%;
    background: transparent;
    color: white;
}

.fa-youtube {
    padding: 20%;
    background: transparent;
    color: white;
}

@media screen and (max-width: 600px) {
    .footerCnt {
        flex-direction: column;
    }
}